* {
    margin: 0;
    padding: 0;

}


#para {
    text-align: justify;
    padding: 0 50px;
}

#navbar {
    background-color: #0067b0;
    text-align: center;

}

#navbar a {
    color: white;
    text-decoration: none;

}

#navbar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    margin: 0 15px;
}

#image {

    /* align-items: center; */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

#image img {
    width: 100px;
    border-radius: 50%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#white {
    background-color: white;
  

}

#aqua {
    background-color: #7fffd4;
 
}

#black {
    background-color: black;
}

#violet {
    background-color: #ce9aff;

}
#color-btn{
    text-align: left;
    margin-left: 60px;

}
.btn{
    width: 20px;
    height: 20px;
   
    display: inline-block;
    cursor: pointer;
    border: 1px solid grey;

}
/* image slider */
*{
    margin: 0;
    padding: 0;
}
.slide-container{
    position: relative;
    width: 100%;
}
.slide{
    width: 100%;
    
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: aliceblue;
    padding: 8px 19px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;

}
.next{
    right: 10px;

}
.prev{
    left: 10px;
}
.caption{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 15px 0px ;
}
.slide{
  display: none;
    
}